/* CSS crunched with Crunch - http://crunchapp.net/ */
html,
body {
  height: 100%;
}
body {
  background: #039be5;
  overflow-y: hidden;
}
a:hover {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
section {
  width: 100%;
}
header {
  background: #039be5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
header .inner-content {
  min-height: initial;
  padding: 10px;
  height: 60px;
}
header .inner-content .p-logo,
header .inner-content .p-logo:hover {
  position: absolute;
  left: 10px;
  bottom: 10px;
  color: #fff;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}
header .inner-content .social-media-icons,
header .inner-content .nav-icons {
  margin-bottom: 0;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
header .inner-content .social-media-icons li,
header .inner-content .nav-icons li {
  display: inline-block;
}
header .inner-content .social-media-icons li a,
header .inner-content .nav-icons li a {
  font-size: 30px;
  color: #fff;
  opacity: .8;
  padding: 0 5px;
}
header .inner-content .social-media-icons li a:hover,
header .inner-content .nav-icons li a:hover {
  opacity: 1;
}
header .inner-content .social-media-icons li a i,
header .inner-content .nav-icons li a i {
  vertical-align: middle;
  line-height: 40px;
}
header .inner-content .nav-icons {
  display: none;
}
section.landing {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
}
section.landing h4 {
  text-align: justify;
  display: block;
  width: 80%;
  max-width: 748px;
  font-weight: 300;
  text-shadow: 0px 1px #777;
  color: #b6e6fe;
  margin: 40px auto 10px auto;
  font-size: 14px;
  line-height: 1.5em;
}
section.landing h4 strong {
  color: #fff;
}
section.landing ul {
  display: block;
  width: 75%;
  margin: 0 auto 40px auto;
}
section.landing ul li {
  text-align: center;
  padding: 15px;
}
section.landing ul li:hover {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  background: rgba(255, 255, 255, 0.2);
}
section.landing ul a {
  width: 100%;
  opacity: .8;
  padding: 0;
}
section.landing ul a:hover {
  opacity: 1;
}
section.landing ul a i {
  font-size: 40px;
}
section.landing ul a h5 {
  font-size: 18px;
  display: none;
}
section.page {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 120px;
  padding-bottom: 80px;
}
section.page .secondary .inner-content {
  padding: 18px 10px 50px;
}
section.page div.scroll-wrp {
  background: #175c7e;
  margin-top: 0px;
  height: 500px;
  overflow-y: scroll;
}
section.page div.back {
  position: absolute;
  left: 0;
  top: 60px;
  width: 100%;
  font-size: 40px;
  text-align: center;
  z-index: 5;
}
section.page div.back a.back {
  background: #fff;
  border-radius: 40px 40px 0 0;
  color: #038acc;
}
section.page div.back a.back:hover {
  color: #4681b3;
}
section.page div.back h2 {
  color: #4681b3;
  margin: 0 5px 10px 0;
  line-height: 24px;
  vertical-align: middle;
  font-size: 20px;
}
section.page div.slide-back {
  position: absolute;
  text-align: right;
  width: 100%;
  font-size: 40px;
  left: 0;
  z-index: 5;
}
section.page div.slide-back a.slide-back {
  padding: 5px;
}
section.page div.slide-back a.slide-back:hover {
  color: #4681b3;
}
section.page div.slide-back h2 {
  display: none;
  color: #7E7E7E;
  margin: 0px 0px 6px 10px;
  line-height: 40px;
  vertical-align: middle;
}
section.page div.slide-back.top {
  top: 0px;
}
section.page div.slide-back.bottom {
  bottom: 15px;
  text-align: center;
}
section.page ul li {
  text-align: center;
  padding: 15px 25px;
}
section.page ul li a {
  width: 100%;
}
section.page ul li a > div {
  position: relative;
  margin-bottom: 25px;
}
section.page ul li a h4 {
  color: #fff;
  position: absolute;
  top: 40%;
  font-size: 20px;
  line-height: 1.5em;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-shadow: 0px 1px #777;
  opacity: 0;
}
section.page ul li a p {
  color: #DDD;
  font-weight: 300;
}
section.page ul li a img {
  height: auto;
}
section.page ul li:hover {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  background: rgba(255, 255, 255, 0.4);
}
section.page ul li:hover img {
  -webkit-filter: blur(7px);
  filter: blur(7px);
  /*for FireFox*/
}
section.page ul li:hover h4 {
  opacity: 1;
}
section.page .secondary {
  text-align: center;
}
section.page .secondary h1 {
  font-size: 28px;
  color: #777;
  margin-bottom: 25px;
}
section.page .secondary p {
  text-align: justify;
  margin-bottom: 30px;
}
section.page .secondary h1,
section.page .secondary p {
  display: block;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
section.page .secondary strong {
  font-style: italic;
}
section.page .secondary ul li a img {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
section.page .secondary ul li:hover {
  background: transparent;
}
section.page .secondary ul li:hover img {
  -webkit-filter: none;
  filter: none;
  /*for FireFox*/
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
section.page .secondary div.graphic1 ul li {
  float: none;
  margin: 0 auto;
}
section.page .secondary div.graphic1 ul li img {
  border: 1px solid #eee;
}
section.media ul li:hover {
  background: transparent;
}
section.media ul.videos li h4 {
  white-space: normal;
}
section.media ul.photos li h4 {
  background: rgba(0, 0, 0, 0.3);
  top: initial;
  bottom: 0px;
  left: 0;
  padding: 5px;
  margin: 0;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  width: 100%;
  font-size: 12px;
}
section.media ul.photos li h4 {
  opacity: 1;
}
section.graphics ul.graphics li {
  padding-left: 60px;
  padding-right: 60px;
}
section.graphics ul.graphics li:hover img {
  -webkit-filter: none;
  filter: none;
  /*for FireFox*/
}
section.contact p {
  color: #ddd !important;
  margin-top: 15px;
  line-height: 1.8em;
  font-size: 15px;
}
section.contact ul {
  margin-top: 15px;
}
section.contact ul li {
  text-align: left;
  color: #E7D5A8;
  position: relative;
  padding-left: 50px;
}
section.contact ul li i {
  color: #f7cd28;
  font-size: 35px;
  position: absolute;
  top: 5px;
  left: 0;
}
section.contact ul li i.fa-envelope {
  font-size: 30px;
}
section.contact ul li strong {
  color: #f7cd28;
  display: none;
}
section.contact ul li:hover {
  background: transparent;
}
form {
  margin-top: 15px;
}
form label {
  color: #DDD;
}
form label strong {
  vertical-align: middle;
  color: red;
}
form .form-control {
  width: 100%;
  border: 1px solid transparent;
  -moz-box-shadow: inset 1px 0 5px #cccccc;
  -ms-box-shadow: inset 1px 0 5px #cccccc;
  -o-box-shadow: inset 1px 0 5px #cccccc;
  -webkit-box-shadow: inset 1px 0 5px #cccccc;
  box-shadow: inset 1px 0 5px #cccccc;
}
form .form-control:focus {
  -moz-box-shadow: 0 0 5px #ffffff;
  -ms-box-shadow: 0 0 5px #ffffff;
  -o-box-shadow: 0 0 5px #ffffff;
  -webkit-box-shadow: 0 0 5px #ffffff;
  box-shadow: 0 0 5px #ffffff;
}
form textarea {
  resize: none;
}
form .required {
  border: 1px solid red;
}
form a.p-btn {
  cursor: pointer;
  width: 100%;
  color: #2D2D2D;
  background: #f7cd28;
}
#message-status h4 {
  color: gold;
  margin: 30px 10px;
}
section ul.websites li a > div h4,
section ul.videos li a > div h4 {
  opacity: 1;
  font-size: 14px;
  white-space: nowrap;
  background: black;
  width: 100%;
  top: 0;
}
section ul.websites li:hover img,
section ul.videos li:hover img {
  -webkit-filter: none;
  filter: none;
  /*for FireFox*/
}
@media (min-width: 320px) {
  h2 {
    font-size: 24px;
  }
  section.landing ul li {
    padding-left: 0;
    padding-right: 0;
  }
  section.landing ul li a h5 {
    font-size: 16px;
    display: none;
  }
  section.landing ul li a i {
    font-size: 40px;
  }
  section.page .inner-content {
    padding: 0 10px;
  }
  section.page div.scroll-wrp {
    height: 300px;
  }
  section.web ul li {
    width: 100%;
    padding: 15px 25px;
  }
  section.graphics ul.graphics li {
    width: 100%;
  }
}
@media (min-width: 480px) {
  header .inner-content .social-media-icons li a,
  header .inner-content .nav-icons li a {
    font-size: 40px;
  }
  section.page .inner-content {
    padding: 40px 10px;
  }
  section.page .secondary .inner-content {
    padding: 50px 10px 80px;
  }
  section.page div.scroll-wrp {
    height: 500px;
  }
  section.landing .nav-icons li a {
    padding: 15px;
  }
  section.landing .nav-icons li a h5 {
    display: block;
  }
  section.web ul li {
    width: 50%;
    padding: 45px 25px;
  }
  section.graphics ul.graphics li {
    width: 50%;
  }
  section.contact ul li {
    padding-left: 80px;
  }
  section.contact ul li strong {
    display: inline-block;
  }
}
@media (min-width: 768px) {
  h2 {
    font-size: 30px;
  }
  section.landing h4 {
    margin: 120px auto 40px auto;
    font-size: 20px;
  }
  section.landing ul li a i {
    font-size: 80px;
  }
  section.landing ul li a h5 {
    font-size: 18px;
  }
  section.page div.back h2 {
    font-size: 20px;
  }
  section.page div.slide-back a.slide-back h2 {
    display: inline-block;
  }
  section ul.websites li a > div h4,
  section ul.videos li a > div h4 {
    opacity: 0;
    top: 40%;
    background: transparent;
    font-size: 20px;
    white-space: normal;
  }
  section ul.websites li:hover a > div h4,
  section ul.videos li:hover a > div h4 {
    opacity: 1;
  }
  section ul.websites li:hover img,
  section ul.videos li:hover img {
    -webkit-filter: blur(7px);
    filter: blur(7px);
    /*for FireFox*/
  }
  section.media ul.photos li a > div h4 {
    font-size: 16px;
  }
}
@media (min-width: 900px) {
  section.page div.scroll-wrp {
    margin-top: 20px;
  }
  section.page div.back {
    font-size: 60px;
  }
  section.page div.back h2 {
    font-size: 30px;
  }
  section.page div.nav-bar a.back h2 {
    line-height: 60px;
  }
}
@media (min-width: 992px) {
  section.web ul li {
    width: 33.3333333%;
  }
  section.graphics ul.graphics li {
    width: 33.333333333%;
  }
}
