/* CSS crunched with Crunch - http://crunchapp.net/ */
html,
body {
  height: 100%;
}
body {
  background: #039be5;
  overflow-y: hidden;
}
a:hover {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
section {
  width: 100%;
}
header {
  background: #039be5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
header .inner-content {
  min-height: initial;
  padding: 10px;
  height: 60px;
}
header .inner-content .p-logo,
header .inner-content .p-logo:hover {
  position: absolute;
  left: 10px;
  bottom: 10px;
  color: #fff;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}
header .inner-content .social-media-icons,
header .inner-content .nav-icons {
  margin-bottom: 0;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
header .inner-content .social-media-icons li,
header .inner-content .nav-icons li {
  display: inline-block;
}
header .inner-content .social-media-icons li a,
header .inner-content .nav-icons li a {
  font-size: 30px;
  color: #fff;
  opacity: .8;
  padding: 0 5px;
}
header .inner-content .social-media-icons li a:hover,
header .inner-content .nav-icons li a:hover {
  opacity: 1;
}
header .inner-content .social-media-icons li a i,
header .inner-content .nav-icons li a i {
  vertical-align: middle;
  line-height: 40px;
}
header .inner-content .nav-icons {
  display: none;
}
section.landing {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
}
section.landing h4 {
  text-align: justify;
  display: block;
  width: 80%;
  max-width: 748px;
  font-weight: 300;
  text-shadow: 0px 1px #777;
  color: #b6e6fe;
  margin: 40px auto 10px auto;
  font-size: 14px;
  line-height: 1.5em;
}
section.landing h4 strong {
  color: #fff;
}
section.landing ul {
  display: block;
  width: 75%;
  margin: 0 auto 40px auto;
}
section.landing ul li {
  text-align: center;
  padding: 15px;
}
section.landing ul li:hover {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  background: rgba(255, 255, 255, 0.2);
}
section.landing ul a {
  width: 100%;
  opacity: .8;
  padding: 0;
}
section.landing ul a:hover {
  opacity: 1;
}
section.landing ul a i {
  font-size: 80px;
}
section.landing ul a h5 {
  font-size: 18px;
}
section.page {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 120px;
  padding-bottom: 80px;
  background: #b6e6fe;
}
section.page div.scroll-wrp {
  margin-top: 40px;
  height: 500px;
  overflow-y: scroll;
}
section.page div.back {
  text-align: right;
  position: absolute;
  left: 0;
  top: 75px;
  width: 100%;
  font-size: 60px;
}
section.page div.back h2 {
  color: #4681b3;
}
section.page div.back a.back {
  color: #038acc;
}
section.page div.back a.back:hover {
  color: #fff;
}
section.page ul li {
  text-align: center;
  padding: 15px 25px;
}
section.page ul li a {
  width: 100%;
}
section.page ul li a > div {
  position: relative;
  margin-bottom: 25px;
}
section.page ul li a h4 {
  color: #fff;
  position: absolute;
  top: 40%;
  font-size: 20px;
  line-height: 1.5em;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-shadow: 0px 1px #777;
  opacity: 0;
}
section.page ul li a p {
  color: #222;
  font-weight: 300;
}
section.page ul li a img {
  height: auto;
}
section.page ul li:hover {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  background: rgba(255, 255, 255, 0.4);
}
section.page ul li:hover img {
  -webkit-filter: blur(7px);
  filter: blur(7px);
  /*for FireFox*/
}
section.page ul li:hover h4 {
  opacity: 1;
}
section.media ul li:hover {
  background: transparent;
}
section.media ul.photos li h4 {
  background: rgba(0, 0, 0, 0.3);
  top: initial;
  bottom: 0px;
  left: 0;
  padding: 5px;
  margin: 0;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
}
@media (min-width: 320px) {
  section.landing .nav-icons li {
    padding-left: 0;
    padding-right: 0;
  }
  section.landing .nav-icons li a h5 {
    font-size: 16px;
  }
  section.landing .nav-icons li a i {
    font-size: 40px;
  }
  section.landing ul li a i {
    font-size: 60px;
  }
  section.landing ul li a h5 {
    display: none;
  }
  section.page .inner-content {
    padding: 0 10px;
  }
  section.page div.scroll-wrp {
    height: 300px;
  }
  section.page div.back {
    font-size: 40px;
  }
  section.web ul li {
    width: 100%;
    padding: 15px 25px;
  }
}
@media (min-width: 480px) {
  header .inner-content .social-media-icons li a,
  header .inner-content .nav-icons li a {
    font-size: 40px;
  }
  section.page .inner-content {
    padding: 40px 10px;
  }
  section.page div.scroll-wrp {
    height: 500px;
  }
  section.page div.back {
    font-size: 60px;
  }
  section.landing h4 {
    font-size: 18px;
    margin: 90px auto 40px auto;
  }
  section.landing .nav-icons li a {
    padding: 15px;
  }
  section.landing .nav-icons li a i {
    font-size: 80px;
  }
  section.landing .nav-icons li a h5 {
    display: block;
    font-size: 18px;
  }
  section.web ul li {
    width: 50%;
    padding: 45px 25px;
  }
}
@media (min-width: 768px) {
  margin: 120px auto 80px auto;
  font-size: 20px;
  line-height: 1.5em;
}
@media (min-width: 992px) {
  section.web ul li {
    width: 33.3333333%;
  }
}
