/* CSS crunched with Crunch - http://crunchapp.net/ */
.sample-portfolio section.landing ul li:hover {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4cFFFFFF', endColorstr='#4cFFFFFF');
  zoom: 1;
}
.sample-portfolio section.page ul li:hover {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99FFFFFF', endColorstr='#99FFFFFF');
  zoom: 1;
}
.sample-portfolio section.page ul li:hover img {
  -webkit-filter: none;
  filter: none;
  /*for FireFox*/
}
.sample-portfolio section.media ul li:hover {
  background: none;
  filter: none;
}
.sample-portfolio section.media ul.photos li h4 {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d000000', endColorstr='#4d000000');
  zoom: 1;
}
.sample-portfolio section ul.websites li:hover,
.sample-portfolio section ul.graphics li:hover,
.sample-portfolio section .item-wrp.graphic2 ul li:hover {
  -moz-box-shadow: 1px 1px 4px #dddddd;
  -ms-box-shadow: 1px 1px 4px #dddddd;
  -o-box-shadow: 1px 1px 4px #dddddd;
  -webkit-box-shadow: 1px 1px 4px #dddddd;
  box-shadow: 1px 1px 4px #dddddd;
}
.sample-portfolio section.web ul.websites li:hover img {
  -webkit-filter: none;
  filter: none;
  /*for FireFox*/
}
.sample-portfolio section.media ul.videos li:hover img,
.sample-portfolio section.media ul.photos li:hover img {
  -webkit-filter: none;
  filter: none;
  /*for FireFox*/
}
@media (min-width: 768px) {
  .sample-portfolio section.page ul li a h4 {
    padding: 20px;
    background: #000000;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d000000', endColorstr='#4d000000');
    zoom: 1;
  }
  .sample-portfolio section.web ul.websites li:hover img {
    -webkit-filter: none;
    filter: none;
    /*for FireFox*/
  }
  .sample-portfolio section.media ul.videos li:hover img,
  .sample-portfolio section.media ul.photos li:hover img {
    -webkit-filter: none;
    filter: none;
    /*for FireFox*/
  }
}
