@import "_mixins.less";
@import "mixins.less";
.sample-portfolio{
    
//========================= 
section.landing {
    ul li:hover{
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4cFFFFFF',endColorstr='#4cFFFFFF'); // for ie
        zoom: 1;
        }
}

section.page {
 ul li {
     a h4{
         .transform(none);
        /* IE8+ - must be on one line, unfortunately */ 
       -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1, M12=0, M21=0, M22=1, SizingMethod='auto expand')";
       
       /* IE6 and 7 */ 
       filter: progid:DXImageTransform.Microsoft.Matrix(
                M11=1,
                M12=0,
                M21=0,
                M22=1,
                SizingMethod='auto expand');
        }
     
     &:hover {
         filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#99FFFFFF',endColorstr='#99FFFFFF'); // for ie
         zoom: 1;
         }   
     }    
}

section.page ul li:hover img{.filter(none);}

section.media { 
     ul {
        li:hover {background: none; filter: none; }
        }
     ul.photos  li{
        h4 {
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d000000',endColorstr='#4d000000'); // for ie
            zoom: 1;           
            }
        }
}

section{
   
    
     ul.websites, ul.graphics, .item-wrp.graphic2 ul {
        li:hover {.box-shadow(1px 1px 4px #ddd);}
    }
}

section.web { ul.websites li:hover img{.filter(none);}}
section.media
    {
       ul.videos, ul.photos{li:hover img{.filter(none);}}  
    }
// ==================end 
}
// responsive
@media (min-width: 768px){
.sample-portfolio{
    section.web{ ul.websites li:hover img{.filter(none);}}
    section.media
    {
       ul.videos, ul.photos{li:hover img{.filter(none);}}  
    }

} 
}



